@charset "UTF-8";
body {
  background-color: #a7adba; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 0 0 0 0; }
  .container header {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: auto;
    border-top: 5px solid #81b300;
    margin: 0 auto;
    background-color: #ffffff; }
    .container header nav {
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 251px;
      height: 50px;
      background-color: #81b300;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin: 0 30px 0 0; }
      .container header nav a {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: black;
        font-size: 16px;
        text-decoration: none;
        color: black; }
        .container header nav a i {
          font-size: 16px;
          line-height: 32px;
          color: #ffffff; }
    .container header h1 {
      /* Style for "CONCOMITAN" */
      margin: 30px 0 0 30px;
      color: #333333;
      font-size: 36px;
      font-family: Georgia, sans-serif;
      font-weight: 400;
      text-transform: uppercase; }
      .container header h1 span {
        font-size: 48px; }
    .container header div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 30px; }
      .container header div h5 {
        font-family: Georgia, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #999999; }
      .container header div ul {
        display: flex;
        flex-direction: row;
        height: 18px;
        font-family: Georgia, sans-serif;
        font-weight: 400;
        font-size: 12px; }
        .container header div ul li {
          color: #81b300; }
          .container header div ul li a {
            color: #81b300; }
        .container header div ul li:nth-child(even) {
          padding: 0 5px 0 5px;
          border-left: 1px solid #81b300;
          border-right: 1px solid #81b300; }
        .container header div ul li:nth-child(odd) {
          padding: 0 5px 0 5px; }
    .container header section {
      /* Style for "BG Colour" */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      background-color: #81b300; }
      .container header section ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 0 30px;
        width: 55%; }
        .container header section ul li {
          /* Style for "STYLE DEMO" */
          color: #ffffff;
          font-size: 13px;
          font-family: Georgia, sans-serif;
          font-weight: 400;
          text-transform: uppercase; }
      .container header section form {
        margin: 0 30px 0 0;
        width: 282px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffffff; }
        .container header section form input {
          /* Style for "BG Colour" */
          background-color: transparent;
          padding: 8px 10px 13px 10px;
          height: 30px;
          border: none;
          width: 100%;
          border-right: 1px solid #7f7f7f; }
        .container header section form input::placeholder {
          /* Style for "Search Our" */
          color: #7f7f7f;
          font-size: 12px;
          font-family: Georgia, sans-serif;
          font-weight: 400; }
        .container header section form button {
          /* Style for "SEARCH" */
          width: 65px;
          background-color: transparent;
          color: #81b300;
          font-family: Georgia, sans-serif;
          font-weight: 400;
          font-size: 12px;
          border: none;
          text-transform: uppercase; }
  .container main {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container main .carousel_main {
      max-width: 900px;
      width: 100%; }
  .container footer {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: auto;
    margin: 0 auto; }

.carousel_main {
  border: 10px solid #ffffff;
  margin: 30px 0 30px 0; }

.service {
  width: 100%;
  background-color: #ffffff;
  padding: 50px 0 50px 0;
  border-bottom: 2px solid #7f7f7f;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .service .service_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto; }
    .service .service_block figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 203px;
      width: 100%; }
      .service .service_block figure h3 {
        /* Style for "Vivamuslib" */
        font-family: Georgia, sans-serif;
        font-weight: 400;
        color: #81b300;
        font-size: 18px;
        margin: 20px 0 20px 0; }
      .service .service_block figure figcaption {
        /* Style for "Lorem ipsu" */
        color: #888888;
        font-size: 13px;
        font-family: Georgia, sans-serif;
        font-weight: 400; }
    .service .service_block figure:nth-child(even) {
      margin-left: 27px; }
  .service .service_block:nth-child(odd) {
    margin: 0 27px 0 0; }

.linkedin:hover {
  background-color: #2867B2; }

.twitter:hover {
  background-color: #00acee; }

.printerest:hover {
  background-color: #BD081C; }

.google:hover {
  background-image: linear-gradient(to right, #4285f4 1%, #db4437 20%, #db4437 20%, #f4b400 40%, #2989d8 60%, #2989d8 60%, #0f9d58 80%, #db4437 100%); }

.rss:hover {
  background-color: #ff7f00; }

.menu_search ul li a:hover {
  color: #000000;
  text-decoration: none; }

/*@media (min-width: 576px) { ... }

// Средние девайсы («таблетки», >= 768px)
@media (min-width: 768px) { ... }

// Большие девайсы (десктопы, >= 992px)
@media (min-width: 992px) {
  .container {

    header {

      section {
        flex-direction: column;
        justify-content: space-evenly;

        ul{
          width: 100%;
          margin: 0;
          justify-content: space-evenly;
        }
      }
    }
  }
}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) { ... }*/

/*# sourceMappingURL=style.css.map */
