//font
$color-green: #81b300;
$color-white: #ffffff;
$color-black: #000000;
$color-footer-bg: #3a3a3a;
$color-copy-bg: #2e2e2e;
@mixin font_body {
  font-family: Georgia, sans-serif;
  font-weight: 400;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin row-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin display-flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-align_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin display-flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-row-space-start {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin flex-column-space_arr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  background-color: #a7adba;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 960px;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 auto;

  header {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: auto;
    border-top: 5px solid $color-green;
    margin: 0 auto;
    background-color: $color-white;

    nav {
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 251px;
      height: 50px;
      background-color: $color-green;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin: 0 30px 0 0;

      a {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: black;
        font-size: 16px;
        text-decoration: none;
        color: black;

        i {
          font-size: 16px;
          line-height: 32px;
          color: #ffffff;
        }
      }
    }

    h1 {
      /* Style for "CONCOMITAN" */
      margin: 30px 0 0 30px;
      color: #333333;
      font-size: 36px;
      @include font_body;
      text-transform: uppercase;
      span {
        font-size: 48px;
      }
    }

    .sub-title_nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 30px;

      h5 {
        @include font_body;
        font-size: 12px;
        color: #999999;
      }

      ul {
        display: flex;
        flex-direction: row;
        height: 18px;
        @include font_body;
        font-size: 12px;

        li {
          color: $color-green;

          a{
            color: $color-green;
          }
        }
        li:nth-child(even) {
          padding: 0 5px 0 5px;
          border-left: 1px solid $color-green;
          border-right: 1px solid $color-green;
        }
        li:nth-child(odd) {
          padding: 0 5px 0 5px;
        }
      }
    }

    section {
      /* Style for "BG Colour" */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: auto;
      width: 100%;
      background-color: $color-green;
      padding: 20px 0 20px 30px;

      ul {
        @include row-ul;
        margin: 0;
        width: 55%;

        li {
          /* Style for "STYLE DEMO" */
          color: $color-white;
          font-size: 13px;
          @include font_body;
          text-transform: uppercase;
        }
      }
      form {
        margin: 0 30px 0 0;
        width: 282px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-white;

        input {
          /* Style for "BG Colour" */
          background-color: transparent;
          padding: 8px 10px 13px 10px;
          height: 30px;
          border: none;
          width: 100%;
          border-right: 1px solid #7f7f7f;
        }
        input::placeholder {
          /* Style for "Search Our" */
          color: #7f7f7f;
          font-size: 12px;
          @include font_body;
        }
        button {
          /* Style for "SEARCH" */
          width: 65px;
          background-color: transparent;
          color: $color-green;
          @include font_body;
          font-size: 12px;
          border: none;
          text-transform: uppercase;
        }
      }
    }
  }
  main {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    @include display-flex-center-column;
    align-items: center;

    .carousel_main {
      max-width: 900px;
      width: 100%;
      border: 10px solid $color-white;
      margin: 30px 0 30px 0;
    }
  }
  footer {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
  }
}

.service_container {
  width: 100%;
  background-color: $color-white;
  @include flex-center;

  .service {
    max-width: 900px;
    width: 100%;
    border-bottom: 2px solid #7f7f7f;
    display: flex;
    flex-direction: row;
    padding: 50px 0 50px 0;

    .service_block {
      @include display-flex-center-row;
      width: 50%;

      figure {
        @include display-flex-center-column;
        text-align: center;
        max-width: 203px;
        width: 100%;

        img {
          width: min-content;
          margin: 0 auto;
        }

        h3 {
          /* Style for "Vivamuslib" */
          @include font_body;
          color: $color-green;
          font-size: 18px;
          margin: 20px 0 20px 0;
        }

        figcaption {
          /* Style for "Lorem ipsu" */
          color: #888888;
          font-size: 13px;
          @include font_body;
        }
      }
    }
  }
}

.latest_work_container {
  width: 100%;
  background-color: $color-white;
  @include flex-center;

  .latest_work {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px 0 50px 0;

    .latest_work_block {
      @include display-flex-center-row;
      width: 50%;

      figure {
        @include display-flex-center-column;
        max-width: 200px;
        width: 100%;

        img {
          border: 5px solid $color-green;
          outline: 1px solid #7f7f7f;
        }

        h3 {
          /* Style for "Project Ti" */
          margin: 15px 0 15px 0;
          color: #444444;
          font-size: 14px;
          @include font_body;
          text-align: left;
        }

        figcaption {
          /* Style for "Portortorn" */
          color: #878787;
          font-size: 13px;
          @include font_body;
          text-align: justify;
        }

        a {
          /* Style for "View Detai" */
          color: $color-green;
          @include font_body;
          font-size: 13px;
          text-align: right;
          margin: 15px 0 0 0;
        }
      }
    }
  }
}

.footer_content {
  @include display-flex-center-column;

  .footer {
    width: 100%;
    background-color: $color-footer-bg;
    padding: 40px 0;
    @include flex-center;

    .footer_container {
      width: 100%;
      max-width: 900px;
      @include flex-row-space-start;

      .contact_link_blog_newslatter {
        width: 50%;
        @include flex-row-space-start;

        section {
          width: 210px;
          text-align: left;
          @include display-flex-center-column;

          h3 {
            /* Style for "CONTACT DE" */
            color: #666666;
            @include font_body;
            font-size: 13px;
            text-transform: uppercase;
          }

          span {
            /* Style for "Convallisi" */
            @include font_body;
            color: #999999;
            font-size: 13px;
            text-align: justify;
            margin: 30px 0 15px 0;
          }

          a {
            /* Style for "Link Text" */
            color: #999999;
            @include font_body;
            font-size: 12px;
            margin: 1px 0;
          }
          .read_more {
            /* Style for "Read more" */
            color: $color-green;
            @include font_body;
            font-size: 13px;
            text-align: right;
            margin: 0;
          }
        }
      }
    }
  }

  .copyright {
    width: 100%;
    background-color: $color-copy-bg;
    padding: 20px 0;
  }

}

.link {
  h3 {
    margin: 0 0 30px 0;
  }

  a {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #484848;
  }
}

.blog {
  aside {
    h4 {
      /* Style for "Blog Post" */
      margin: 30px 0 5px 0;
      color: #999999;
      font-family: Georgia;
      font-size: 13px;
      font-weight: bold;
    }
    p, span {
      /* Style for "Posted by" */
      @include font_body;
      color: #999999;
      font-size: 11px;
      margin: 0;
    }
  }
}

.newslatter {
  form {
    margin: 30px 0 0 0;

    input {
      /* Style for "Path" */
      width: 210px;
      height: 31px;
      background-color: #1f1f1f;
      color: #999999;
      border: none;
      border-radius: 7px;
      padding: 8px 10px 13px 10px;
    }
    input::placeholder {
      /* Style for "Search Our" */
      font-size: 12px;
      @include font_body;
    }
    button {
      /* Style for "Path" */
      width: 80px;
      height: 31px;
      background-color: #1f1f1f;
      border-radius: 7px;
      border: none;
      color: $color-green;
      text-transform: uppercase;
      @include font_body;
    }
    button:hover {
      background: $color-white;
      transition: 3s;
    }
  }
}

.copyright_content {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;

  span {
    /* Style for "Copyright" */
    color: #737373;
    font-size: 12px;
    @include font_body;

    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23a6d5, #e73c7e, #ee7752);
    background-size: 200% auto;

    color: #000;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: grad 4s linear infinite;

    @keyframes grad {
      to {
        background-position: 200% center;
      }
    }
  }
}

.linkedin:hover{
  background-color: #2867B2;
}
.twitter:hover {
  background-color: #00acee;
}
.printerest:hover {
  background-color: #BD081C;
}
.google:hover {
  background-image: linear-gradient(to right, #4285f4 1%,#db4437 20%,#db4437 20%,#f4b400 40%,#2989d8 60%,#2989d8 60%,#0f9d58 80%,#db4437 100%);
}
.rss:hover {
  background-color: #ff7f00;
}
.menu_search ul li a:hover {
  color: $color-black;
  text-decoration: none;
}

/*@media screen and (min-width: 1200px) { ... }*/

// Большие девайсы (десктопы, >= 992px)
/*@media screen and (min-width: 992px) { ... }*/

// Средние девайсы («таблетки», >= 768px)
@media screen and (max-width: 768px) {

  .container {

    header {
      section {
        @include flex-column-space_arr;

        ul {
          width: 100%;
          @include flex-row-space-start;
          margin: 0;
        }
      }
    }
    main {
      .service_container {
        .service {
          @include flex-column-align_center;

          .service_block {
            width: 100%;
          }
        }
      }
      .latest_work_container {
        .latest_work {
          @include flex-column-align_center;

          .latest_work_block {
            width: 100%;
          }
        }
      }
    }
    footer {
      .footer {
        .footer_container {
          @include flex-column-align_center;

          .contact_link_blog_newslatter {
            width: 100%;
          }
        }
      }
      .copyright {
        padding: 20px;
      }
    }
  }
}

// Малые девайсы («ландшафтные телефоны», >= 576px)
@media screen and (max-width: 576px) {

  .container {

    header {
      @include flex-column-align_center;

      nav {
        margin: 0;
      }
      h1 {
        margin: 10px 0;
      }
      .sub-title_nav {
        @include flex-column-align_center;
      }
      .menu_search {
        height: auto;
        padding: 5px 0;

        ul {
          @include flex-column-align_center;
        }
      }
    }
    main {
      section {
        .service {
          .service_block {
            @include flex-column-space_arr;
          }
        }
        .latest_work {
          .latest_work_block {
            @include flex-column-space_arr;
          }
        }
      }
    }
    footer {
      .footer {
        .footer_container {
          .contact_link_blog_newslatter {
            @include flex-column-align_center;

            section {
              margin: 10px 0;
            }
          }
        }
      }
      .copyright {
        .copyright_content {
          @include flex-column-align_center;
        }
      }
    }
  }
}






