.container {
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.head_kontent {
    background-color: #445162;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}
.head_list {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Arial", sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 36px;
    list-style: inside url(../img/check_icon.png);
    text-align: justify;
    margin-top: 28px;
}
.head_nav {
    width: 65%;
}
h1 {
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
}
h2 {
    color: #445161;
    font-family: "Arial", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}
article {
    padding: 50px;
}
main header {
    text-align: center;
}
.canvas_head {
    width: 470px;
    height: 215px;
    background-color: #fff;
}
.about {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.canvas_about {
    width: 430px;
    height: 245px;
    background-color: #445161;
}
.about_nav {
    text-align: justify;
    width: calc(58% - 8px);
}
.text_main {
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}
.dignity {
    display: flow-root;
    background-color: #f5f5f5;
}
.dignity header {
    text-align: center;
}
.dignity section {
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: calc(50% - 8px);
    text-align: justify;
}
.dignity ul li {
    background: url(../img/3-layers.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0 0 30px 40px;
}
.left_dignity {
    float: left;
}
.right_dignity {
    float: right;
}
.screenshots {
    display: flow-root;
    background-color: #ffffff;
}
.screenshots header h2 {
    text-align: center;
}
.screenshots section {
    width: calc(50% - 8px);
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.screenshots figure {
    margin-bottom: 30px;
    display: flow-root;
    text-align: justify;
}
.screenshots figure figcaption {
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.screenshots figure h3 {
    width: auto;
    color: #445161;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.canvas_screen {
    float: left;
    background-color: #445161;
    margin-right: 15px;
}
.left_screen {
    float: left;
    display: flow-root;
}
.right_screen{
    float: right;
}
.reviews {
    background-color: #f5f5f5;
    display: flow-root;
}
.reviews section {
    width: calc(50% - 8px);
}
.reviews section figure {
    margin-bottom: 15px;
    display: flex;
}
.reviews
.canvas_reviews {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
    float: left;
    margin-right: 15px;
}
.left_review {
    float: left;
}
.right_reviews {
    float: right;
}
.reviews_text {
    background-image: url("../img/bg_review.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    color: #333333;
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.reviews_text p {
    margin: 16px 27px;
}
.author_reviews {
    margin: 0 0 0 27px;
    width: fit-content;
    color: #989898;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.buy {
    display: flow-root;
    background-color: #ffffff;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.standart {
    height: 306px;
}
.premium {
    height: 404px;
}
.lux {
    height: 500px;
}
.standart, .premium, .lux {
    width: 300px;
    background-color: #445162;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.rate {
    width: 300px;
    text-align: center;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.price_sum {
    width: 298px;
    height: 50px;
    color: #445162;
    font-family: "Arial", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    background-color: #ffffff;
    border-left: 1px solid #445162;
    border-right: 1px solid #445162;
    text-align: center;
    padding-top: 18px;
}
.advantages {
    width: 300px;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 15px -15px 15px 15px;
    text-align: left;
}
.but_price {
    width: 260px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 0;
}
.but_price a {
    text-decoration: none;
    color: #445162;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}
.but_price:hover {
    opacity: 0.6;
}
.forma {
    padding: 52px 50px 0px 50px;
    text-align: center;
    background-color: #445162;
    display: flow-root;
}
.forma div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 700px;
}
.forma h2 {
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.contact {
    float: right;
    margin-right: 241px;
    margin-top: 10px;
}
.cont_icon img {
    float: left;
}
.cont_icon {
    display: flow-root;
    height: 26px;
    margin-bottom: 29px;
}
.cont_icon figcaption {
    float: left;
    margin-left: 5px;
    height: 15px;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
form {
    display: inline-flex;
    resize: none;
    flex-direction: column;
    margin-left: 150px;
    margin-bottom: 50px;
}
form input {
    height: 40px;
    width: 490px;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
}
form textarea {
    height: 160px;
    width: 490px;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    resize: none;
    border: none;
}
.forma p {
    width: auto;
    height: 25px;
    position: absolute;
    color: #445162;
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 450px;
}
.send_mess {
    width: 140px;
    height: 40px;
    margin-left: 180px;
    color: #445162;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    outline: none;
    padding-right: 5px;
    background-color: #ffffff;
    border: none;
}
.send_mess:hover {
    opacity: 0.6;
}
@media screen and (min-width: 1250px) {

}
/* Portrait tablets and medium desktops */
@media  screen and (min-width: 1050px) and (max-width: 1249px) {
    .about_nav {
        width: 50%;
    }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 1049px) {
    article {
        padding: 30px;
    }
    .head_kontent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .head_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: auto;
        margin-bottom: 15px;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_nav {
        width: 70%;
    }
    .about_nav h2 {
        text-align: center;
    }
    .screenshots {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .screenshots section {
        width: auto;
    }
    .price {
        flex-direction: column-reverse;
        align-items: center;
    }
    .price ul {
        margin-bottom: 15px;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (min-width: 576px) and (max-width: 767px) {
    article {
        padding: 30px;
    }
    .head_kontent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .head_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: auto;
        margin-bottom: 15px;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_nav {
        width: 80%;
    }
    .about_nav h2 {
        text-align: center;
    }
    .dignity {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .dignity section {
        width: auto;
    }
    .screenshots {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .screenshots section {
        width: auto;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .reviews section {
        width: auto;
    }
    .price {
        flex-direction: column-reverse;
        align-items: center;
    }
    .price ul {
        margin-bottom: 15px;
    }
}

/* Landscape phones and smaller */
@media screen and (max-width: 575px) {
    article {
        padding: 30px;
    }
    .head_kontent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .head_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: auto;
        margin-bottom: 15px;
    }
    .canvas_head {
        width: calc(100% - 1px);
        height: auto;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_nav {
        width: auto;
    }
    .about_nav h2 {
        text-align: center;
    }
    .canvas_about {
        width: calc(100% - 1px);
        height: auto;
    }
    .dignity {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .dignity section {
        width: auto;
    }
    .screenshots {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .screenshots section {
        width: auto;
    }
    .screenshots figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .canvas_screen {
        width: 200px;
        height: auto;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .reviews section {
        width: auto;
    }
    .canvas_reviews {
        display: none;
    }
    .reviews_text {
        background-image: none;
        background-color: #ebebeb;
        border-radius: 5px;
        padding: 10px;
    }
    .price {
        flex-direction: column-reverse;
        align-items: center;
    }
    .price ul {
        margin-bottom: 15px;
    }
}