* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    max-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    background-image: url("image/bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo_title {
    display: flex;
    height: 50px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin-block-start: 2%;
}
.container_search {
    max-width: 1000px;
    width: 100%;
    max-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: dodgerblue;
}
.container_input {
    max-width: 1000px;
    width: 100%;
    height: 90px;
    max-height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_element {
    width: 100%;
    max-width: 1000px;
    height: 70px;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.cont_datalist {
    width: 100%;
    max-width: 205px;
    height: 100%;
    max-height: 45px;
    margin-left: 1px;
    margin-right: 1px;
}
.pole_datalist {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 45px;
    padding-left: 2%;
    color: grey;
    font-size: 18px;
    border: 0;
}
.pole_datalist::placeholder {
    padding: 3%;
    color: grey;
    font-size: 15px;
}
.pole_datalist_first:first-child {
     border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
 }
.pole_call {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 45px;
    text-align: center;
    color: grey;
    font-size: 18px;
    border: 0;
}
.pole_datalist_second:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.container_call {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 45px;
    margin-left: 1px;
    margin-right: 1px;
}
button {
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .7s;
    box-sizing: border-box;
    background-color: darkorange;
    border: 1px solid #01abfb;
    color: #fff;
    width: 150px;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
}
button:hover {
    background-color: darkorange;
    background: rgba(0,0,0,0.5);
    border-color: #009de6;
    color: #fff;
}
.drops {
    color: white;
    font-size: 18px;
}
.answer {
    color:white;
    font-size: 18px;
    margin-block-start: 2%;
    margin-block-end: 2%;
}