a { text-decoration: none}
.container {
    max-width: 1600px;
    background-color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content_block {
    border: 2px solid black;
    padding: 0 auto 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header_content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 1200px;
}
.logo_kontakt {
    display: grid;
    grid-template-columns: 1auto 1auto 1auto 1auto;
    grid-template-rows: 1fr;
    grid-template-areas: "logo work_time mail call";
    margin: 20px 0 20px 0;
}

.logo {
    display: grid;
    grid-template-columns: 210px 210px;
    grid-template-rows: 25px 25px;
    grid-template-areas: "logo_img margin_logo" "logo_img margin_logo";
    grid-area: logo;
}

.logo_img { grid-area: logo_img; }

.margin_logo { grid-area: margin_logo; }

.work_time {
    display: grid;
    grid-template-columns: 1min-content 1auto;
    grid-template-rows: 25px 25px;
    grid-template-areas: "icon first_text" "icon second_text";
    grid-area: work_time;
}

.icon { grid-area: icon; }

.first_text {
    color: #6a6a6a;;
    font-family: "Open Sans Bold", sans-serif;
    grid-area: first_text;
    font-weight: 600;
    text-transform: uppercase;
}

.second_text {
    color: #6a6a6a;;
    font-family: "Open Sans Bold", sans-serif;
    grid-area: second_text;
}

.mail {
    display: grid;
    grid-template-columns: 1min-content 1auto;
    grid-template-rows: 25px 25px;
    grid-template-areas: "icon first_text" "icon second_text";
    grid-area: mail;
}

.icon { grid-area: icon; }

.first_text {
    grid-area: first_text;
    display: flex;
    align-items: center;
}

.second_text {
    grid-area: second_text;
    display: flex;
    align-items: center;
}

.call {
    display: grid;
    grid-template-columns: 1min-content 1auto;
    grid-template-rows: 25px 25px;
    grid-template-areas: "icon first_text" "icon second_text";
    grid-area: call;
}

.icon { grid-area: icon; }

.first_text { grid-area: first_text; }

.second_text { grid-area: second_text; }


@media all and (-ms-high-contrast:none) {
    .grid-container {
        display: -ms-grid;
        -ms-grid-columns: 1auto 1auto 1auto 1auto;
        -ms-grid-rows: 1fr;
    }

    .logo {
        display: -ms-grid;
        -ms-grid-columns: 210px 210px;
        -ms-grid-rows: 25px 25px;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .logo_img {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .margin_logo {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .work_time {
        display: -ms-grid;
        -ms-grid-columns: 1min-content 1auto;
        -ms-grid-rows: 25px 25px;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .icon {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .first_text {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .second_text {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .mail {
        display: -ms-grid;
        -ms-grid-columns: 1min-content 1auto;
        -ms-grid-rows: 51px 51px;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
    }

    .icon {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .first_text {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .second_text {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .call {
        display: -ms-grid;
        -ms-grid-columns: 1min-content 1auto;
        -ms-grid-rows: 25px 25px;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
    }

    .icon {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .first_text {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .second_text {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

}
.nav_social {
    width: 1190px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    margin: 0 5px 36px 5px;
    border-top: 2px solid #c2c2c2;
}
.nav_head ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: 400;
}
.nav_head ul li {
    margin-right: 32px;
}
.nav_head ul li a {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 20px;
    color: #6c6c6c;
    text-decoration: none;
}
.main_banner {
    background-image: url("../img/Main_Banner.png");
    background-color: white;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 640px;
}
.main_banner_text {
    width: 524px;
    height: 278px;
    margin: 180px 0 182px 250px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title_banner_text {
    color: #474747;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1.19px;
    text-align: center;
}
.banner_text {
    color: #3f3f3f;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 55px 0 49px;
    text-align: center;
}
.banner_button {
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 17px 29px 16px 27px;
    border-radius: 30px;
    text-decoration: none;
}
.service {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: linear-gradient(45deg, #43b1d2, #37c3a8);
}
.double_bloc_serv {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.double_bloc_serv div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    padding: 77px 61px 57px 71px;
}
.text_service {
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.title_service {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    text-align: center;
}
figure {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}
figure img {
    margin: 0 0 23px 0;
}
.text_service {
    margin: 23px 0 0 0;
}

.why_chose_content {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 337px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
.women_doctor_img {
    background: url(../img/women_doctor.png) no-repeat center bottom;
    height: 598px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: end;
}
.our_advantages {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.lable_our_advantages {
    padding-left: 95px;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 30px;
    color: #6c6c6c;
    height: 75px;
    line-height: 75px;
}
.cross-label {
    background: url("../img/cross.png") no-repeat left center;
}
.pils-label {
    background: url("../img/pils.png") no-repeat left center;
}
.other-label {
    background: url("../img/research.png") no-repeat left center;
}
.atom-label {
    background: url("../img/atom.png") no-repeat left center;
}
.text_our_advantages {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    margin: 20px 0 0 0;
}
.why_chose_head {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 111px 0 31px 0;
}
.why_chose_head_text {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;text-align: center;
    margin:  0 0 25px 0;
}
.best_fuature {
    width: 1200px;
    min-height: 782px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/Best_Feature.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.best_fuature_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 1% 12% 1%;
}
/*Экстрамалые девайсы («телефоны», < 576px)*/
@media (max-width: 575.98px) {  }

/*Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 767.98px) {  }

/*Средние девайсы («таблетки», < 992px)*/
@media (max-width: 991.98px) {  }

/* Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1199.98px) {  }

