.pagecont {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.header {
	width: 100%;
	height: 100%;
	background-image: url(../img/bghead2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menkon {
	width: 100%;
	height: 100%;
	padding-top: 1%;
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.kon {
	display: flex;
   	vertical-align: top;
	background-image: url(../img/fonkon.png);
	background-size: 100%;
	flex-direction: row;
	justify-content: center;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}
.hsg {
	height: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}
.hs {
	width: 150px;
   	vertical-align: top;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 500;
	line-height: 22.36px;
	letter-spacing: 0.77px;
}
.game {
	width: 150px;
   	vertical-align: top;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 22.36px;
	text-transform: uppercase;
	letter-spacing: 30.41px;
}
.logophone {
	display: inline-block;
  	vertical-align: top;
}
.phone {
	width: 250px;
	margin-left: 5%;
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.phone div {
	padding: 2%;
}
.mail div {
	padding: 1%;
}
.number {
	/* Style for "+123 456 7" */

	display: inline-block;
  	vertical-align: top;
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;
	letter-spacing: 0.36px;
}
.mail {
	width: 250px;
	margin-right: 5%;
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mailtext {
	display: inline-block;
   	vertical-align: top;
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.36px;
	letter-spacing: 0.36px;
}
.sear {
	color: white;
	display: flex;
   	vertical-align: top;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: top;
	border-bottom: 1px solid white;
}
.menu div {
	display: inline-block;
   	vertical-align: top;
	padding-top: 2%;
	padding-right: 1%;
	padding-left: 1%;
}
.home p, .about p, .service p, .gallery p, .news p, .team p, .contact p	{
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	padding-bottom: 25px;
	color: #000000;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: 550;
	line-height: 22.36px;
	color: black;
	letter-spacing: 0.36px;
}
.home:hover p, .about:hover p, .service:hover p, .gallery:hover p, .news:hover p, .team:hover p, .contact:hover p {
	border-bottom: 2px solid white;
	color: white;
	transform: scale(1.1);
}
.blocsoc {
	margin-top: 7%;
	margin-bottom: 7%;
	display: inline-block;
   	vertical-align: top;
   	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hp {
	display: flex;
   	vertical-align: top;
   	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* Style for "Nunc eget" */
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 48px;
	/* Text style for "N, unc ege" */
	letter-spacing: 0.18px;
	margin-bottom: 1%;
}
.gw {
	display: flex;
   	vertical-align: top;
   	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* Style for "Morbi in n" */
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 400%;
	font-weight: 500;
	line-height: 65px;
	/* Text style for "M, orbi in" */
	letter-spacing: 0.6px;
	margin-bottom: 5%;
}
.line {
	margin-bottom: 4%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	height: 0;
	border-bottom: 2px solid white;
	margin-left: 45%;
	margin-right: 45%;
}
.gw p {
	display: flex;
   	vertical-align: top;
}
.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: top;
}
.social div {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.vk:hover img, .fc:hover img, .tw:hover img, .rss:hover img {
	background-color: black;
	border-radius: 20px;
	transform: scale(1.1);
}
.vk:active img, .fc:active img, .tw:active img, .rss:active img {
	background-color: red;
}
.search {
	width: 208px;
	height: 38px;
	/*background: rgba(0,0,0,0);*/
	border: 1px solid white;
}
.search input {
	width: 150px;
	height: 100%;
	float: left;
	border: 0;
	background: transparent;
	color: white;
}
.search input::placeholder {
	color: white;
	font-size: 16px;
	padding-left: 10%;
}
.search input:focus {
	outline: 0;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}
.search button {
	position: relative;
	float: right;
	border: 0;
	padding: 0 17px 0 13px;
	cursor: pointer;
	height: 100%;
	width: 58px;
	background: transparent;
	border-left: 1px solid white;
}   
.search button:hover img {
	transform: scale(1.2);
}
.search button:active {
	box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
.search button:focus {
	outline: 0;
}
.aboutus {
	width: 100%;
	height: 100%;
	background-color: white;
}
.container {
	margin-top: 6%;
	margin-bottom: 6%;
	display: flex;
	justify-content: center;
}
.cont {
	margin-top: 4%;
	margin-bottom: 6%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.textab {
	width: 540px;
	height: 338px;
}
.textabo {
	margin-left: 15%;
	margin-right: 9%;
	height: 203px;
}
.textabo p {
	color: #999999;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.12px;
	padding-bottom: 7%;
}
.imgabout {
	width: 540px;
	height: 338px;
	background-image: url(../img/imgab.png);
	background-size: auto auto;
	background-repeat: no-repeat;
}
.logoab {
	width: 169px;
	height: 28px;
	color: #f44336;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 7%;
	margin-top: 2%;
	margin-left: 15%;
	margin-right: 9%;
}
.serv {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	 display: flex;
    justify-content: center;
}
.ourlogo {
	font-family: 'Poppins', sans-serif;
	color: #f44336;
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
}
.blocline {
	width: 1000px;
	display: flex;
	flex-direction: row;
	vertical-align: top;
	margin-top: 4.5%;
}
.leftbloc {
	width: 50%;
	margin-right: 5.1%;
	display: flex;
	flex-direction: row;
}
.rightbloc {
	width: 50%;
	margin-left: 5.1%;
	display: flex;
	flex-direction: row-reverse;
}
.serv_desc {
	margin-right: 14%;
}
.desc_serv {
	margin-left: 14%;
}
.serv_desc h3, .desc_serv h3 {
	/* Style for "Voluptatib" */
	width: 282px;
	height: 18px;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "Voluptatib" */
	letter-spacing: 0.16px;
	padding-top: 2%;
}
.serv_desc p, .desc_serv p {
	/* Style for "Itaque ear" */
	width: 282px;
	height: 56px;
	color: #999999;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	/* Text style for "Itaque ear" */
	letter-spacing: 0.12px;
	padding-top: 5.5%;
	padding-bottom: 2.5%;
}
.serv_desc h3, .serv_desc p {
	text-align: right;
}
.desc_serv h3, .desc_serv p {
	text-align: left;
}
.logoserv {
	width: 102px;
	height: 102px;
	background-color: #e1e1e1;
	border-radius: 50%;
	border: 1px solid #acacac;
	vertical-align: middle;
    line-height: 102px;
    text-align: center
}
.logoserv img {
	    display: inline-block;
    vertical-align: middle;
}
.blfst:hover h3 {
	color: #f44336;
}
.blfst:hover .hovst {
	background-color: #f44336;
}
.blsec:hover h3 {
	color: #f44336;
}
.blsec:hover .hovse {
	background-color: #f44336;
}
.bltrw:hover h3 {
	color: #f44336;
}
.bltrw:hover .hovtrw {
	background-color: #f44336;
}
.blfor:hover h3 {
	color: #f44336;
}
.blfor:hover .hovfor {
	background-color: #f44336;
}
.blfiv:hover h3 {
	color: #f44336;
}
.blfiv:hover .hovfiv {
	background-color: #f44336;
}
.blsx:hover h3 {
	color: #f44336;
}
.blsx:hover .hovsx {
	background-color: #f44336;
}
.ourgallery {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
}
.ourblock {
	align-items: center;
    display: flex;
    flex-direction: column;
	margin-top: 4%;
	margin-bottom: 8%;
}
.ourgame {
	width: 1172px;
	margin-top: 7%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.baubloc {
	height: 105px;
	text-align: center;
	background-color: #f7f7f7;
}
.baubloc p {
	padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.14px;
    text-align: center;
    color: #000000;
}
.imgbl {
	height: 376px;
}
.baubloc button {
	margin-top: 10%;
	width: 130px;
	height: 30px;
	background-color: #f44336;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0.14px;
    text-align: center;
    color: #ffffff;
    border: 0;
}
.bbbloc button {
	margin-top: 4%;
}
.butsz:hover {
	width: 130px;
	height: 30px;
	background-color: grey;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.14px;
    text-align: center;
    color: #ffffff;
    border: 0;
    transform: scale(1.1);
}
.testimonial {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background-image: url(../img/test.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.conteiner_testi {
	width: 1170px;
	align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 4%;
}
.logotest {
	display: inline-block;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	font-weight: 400;
	
}
.imgkov {
	margin-top: 4%;
}
.bloc_text {
	width: 1170px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.middle_text {
	/* Style for "Donec feug" */
	width: 935px;
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 4.5%; 
	line-height: 1.71;
}
.arrow {
	margin-top: 5%;
}
.arrow:hover img {
	transform: scale(1.1);
}
.bloc_cop {
	display: flex;
	margin-top: 5%;
	font-size: 20px;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-stretch: condensed;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
#seo {
	font-weight: 700;
}
.ourteam {
	width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
.ourteam_cont {
	align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 8%;
    width: 1170px;
}
.team_cont {
	margin-top: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1170px;
}
.use_team_cont {
	width: 270px;
	height: 100%;
	display: inline-block;
}
.social_tw {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
}
.vk2, .fc2, .tw2, .rss2 {
	height: 30px;
	width: 30px;
	border: 2px solid black;
	display: flex;
    align-items: center;
    justify-content: center;
}
.vk2, .fc2, .tw2 {
	margin-right: 15px;
}
.team_social h3 {
	color: #f44336;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	padding-top: 5%;
}
.team_social p {
	color: #838383;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}
.subscribe {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background-image: url(../img/head_sub.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sub_cont {
	align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 1170px;
}
.logo_sub {
	/* Style for "Subscribe" */
	display: inline-block;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	font-weight: 400;
}
.sub_forma {
	width: 100%;
	display: flex;
	margin-top: 4%;
	flex-direction: row;
	justify-content: center;
}
.sub_forma input {
	height: 55px;
	width: 490px;
	font-size: 25px;
}
.sub_forma button {
	margin-left: 5%;
	width: 119px;
	height: 59px;
	background-color: #f44336;
	border: 0;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.sub_forma input::placeholder {
	color: grey;
	font-size: 20px;
	padding-left: 7%;
}
.contacusbl {
	width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
.contactus_cont {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 4%;
    margin-bottom: 4%;
    width: 1170px;
}
.addr_form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1170px;
}
.addres {
	width: 400px;
	height: 300px;
}
.addres p {
	/* Style for "Lorem ipsu" */
	color: #9e9e9e;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	font-style: normal;
    font-stretch: condensed;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 2%;
}
#email {
	/* Text style for "mail@examp" */
	color: #f44336;
}
.form {
	width: 470px;
	height: 353px;
}