.container {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}
.navigate_menu {
    background-color: #343a40!important;
}
.nav a{
    color: white;
    font-weight: 700;
}
.nav a:hover {
    color: darkgrey;
    opacity: 0.6;
}
.categories {
    color: white;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ContentBackground__background-gradient-container--f7uL8 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.collapse:not(.show) {
    display: block;
}
.navbar-toggler {
    margin-left: 90%;
}
.films_cont {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.films_list {
    color: orangered;
    font-size: 12px;
    background-color: #343a40!important;
    padding: 15px;
}
.films_block {
    display: flex;
}
.canvas_block {
    width:  200px;
    height: 300px;
    background-color: white;
    margin-right: 15px;
}
.canvas_block_list {
    width: 50px;
    height: 75px;
    background-color: white;
    margin-right: 15px;
}
.description_elem {
    width: 150px;
    margin-right: 25px;
}
li {
    display: flex;
}
@media  screen and (min-width: 1250px) {
    .nav_none {
        display: none;
    }
}
@media  screen and (min-width: 1050px) and (max-width: 1249px) {
    .nav_none {
        display: none;
    }
}
@media screen and (max-width: 1050px){
    .collapse:not(.show) {
        display: none;
    }
}
