body {
	background-color: #f8f8f8;
	font-family: Oswald, Verdana, Arial;
	margin: 0px;
}
.page {
	width: 1000px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
a {
	text-decoration: none;
	color: black;
}
.shapka {
	width: 333px;
	background-color: #2d2d2d;
}
.shapka a:hover {
	color: grey;
}
.whitessilki {
	color: white;
	font-size: 20px;
	font-weight: 500;
}
table {
	width: 1000px;
	border-spacing: 0;
}
tr {
	width: 100%;
	height: 50px;
}
tr:nth-child(2n) {
	background-color: #f3f3f3;
}
td:nth-child(2n) {
	width: 20%;
	text-align: center;
}
#fsttd {
	text-align: center;
}
#inlogo {
	background-color: #c0c0c0;
}
ul {
	font-size: 12px;
	list-style-image: url(../img/iconul.png);
}
li {
	list-style-type: none;
}
.zagolovki {
	color:black;
	font-size: 16px;
	font-weight: 400;
}
.namemail {
	height: 30px;
	width: 247px;
	font-size: 15px;
	font-weight: 400;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 0px;
}
.buttonkon {
	height: 30px;
	width: 80px;
	border-radius: 5px;
}
.opis {
	color: #707070;
	font-size: 10px;
	font-style: italic;
	line-height: 16px;
}
.opis:first-letter {
	font-size: 200%;
	color: grey;
}
.tovxar {
	font-size: 16px;
	font-weight: 450;
	font-family: SF Pro Text, Arial;
}
.zagxar {
	background-color: #f8f8f8;
	font-size: 20px;
	font-weight: 550;
	text-align: center;
}
#textarena {
	height: 200px;
	width: 506px;
	resize: none;
	font-size: 19px;
	font-weight: 400;
	background-color: #f8f8f8;
	padding: 0px;
	border-radius: 5px
}
#inmail:focus {
	background-color: black;
	color: yellow;
}
#textarena, #inname {
	text-transform: capitalize;
}
#zagkon {
	font-size: 24px;
	font-weight: 500;
	font-family: Arial;
	margin: 0px;
}
#logovi {
	background-repeat: no-repeat;
	background-size: 15%;
	background-color: #2d2d2d;
}
.allcont {
	width: 1000px;
	display: block;
	justify-content: center;
	margin: auto;
	height: 100%;
	padding-right: 0px;
}
.menu {
	width: 1000px;
	height: 50px;
	background-color: #2d2d2d;
	display: flex;
	justify-content: center;
}
.page::-webkit-scrollbar {
	width:0px;
}
.first-page-content {
	width: 1000px;
	height: 500px;
	display: flex;
	justify-content: center;
}
.menu-cont {
	width: 333px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-cont:hover a {
	color: grey;
}
#logobg {
	width: 500px;
	background-color: black;
	background-image: url(../img/logosmall.png);
	background-repeat: no-repeat;
	background-position: center;
}
#logobg img {
	width: 50%;
	height: 50%;
	position: relative;
}
#welc {
	width: 500px;
	background-color: #f8f8f8;
}
.footer {
	padding: 2em;
	background-color: #f8f8f8;
	border-top: 1px solid grey;
	display: flex;
	justify-content: center;
}
#welc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	overflow-x:hidden;
}
#welc p {
	font-size: 15px;
	margin: 5px;
}
.forma {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.icon {
	width: 50px;
	height: 50px;
}
.icon img {
	width: 50px;
	height: 50px;
}
.kont {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
}
.adress, .mail, .phone {
	width: 333px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.kont-fon {
	font-weight: 500;
	font-size: 15px;
}
.tabtth {
	display: flex;
	justify-content: center;
}
/*FORMAT BLOC TOVAR*/
.tabtth {
	width: 100%;
	height: 500px;
	display: block;
	flex-direction: column;
	justify-content: center;
}
.tabtth-in {
	width: 100%;
	height: 500px;
	display: block;
	flex-direction: column;
	justify-content: center;
}
.nametov {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.tov {
	text-align: center;
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-weight: 550;
	border-bottom: 1px solid grey;
}
.tov p {
	padding: 13px;
}
.tov-pic-opis {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.pic-opis {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.tov-pic {
	width: 70%;
	height: 100%;
	
}
#tov-pic-iphone11-pro {
	background-image: url(../img/iphone-11-pro.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
}
#tov-pic-iphone11-pro-max {
	background-image: url(../img/iphone-11-pro-max.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
}
#tov-pic-imac {
	background-image: url(../img/imac-27.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
}
#tov-pic-macpro {
	background-image: url(../img/macpro.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
}
/*UBRAL OUTLINE IZ 4 UROKA*/
/*#tov-pic-iphone11-pro:hover {
	outline: 1px solid black;
}*/
.tov-opis {
	width: 30%;
	height: 100%;
	display: block;
	flex-direction: column;
}
.label-opis {
	border-top: 1px solid grey;
	background-color: #eaeaea;
	width: 100%;
	height: 15%;
	position: relative;
}
/*Выравнивание текста по центру блока*/
.label-opis p {
	text-align: center;
	padding: 3px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.opis {
	width: 100%;
	height: 70%;
}
.applelogo {
	width: 1000px;
	height: 70px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/insider.png);
	background-color: black;
}
.podrob-opis-bloc1 {
	display: block;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 100%;
	height: 100%;
}
.podrob-opis-bloc2 {
	display: block;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 100%;
	height: 100%;
	background-size: 20%;
	background-repeat: no-repeat;
	background-image: url(../img/camera.jpg);
	background-position: top right;
}
.podrob-opis-bloc3 {
	display: block;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 100%;
	height: 100%;
	background-size: 150%;
	background-repeat: no-repeat;
	background-image: url(../img/a13bionic.jpg);
	background-position: center;
}
.podrob-opis-bloc4 {
	display: block;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/iphonewater.jpg);
	background-position: top;
}
.podrob-opis-splash {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background-color: black;
	margin-top: 35%;
}
.podrobno-opis-splash1 {
	width: 100%;
	height: 100%;
	padding: 5%;
}
.podrobno-opis-splash2 {
	width: 100%;
	height: 100%;
	padding: 5%;
}
.podrobno-opis-splash3 {
	width: 100%;
	height: 100%;
	padding: 5%;
}
.protect-block {
	width: 100%;
	height: 100%;
	background-color: grey;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.protect-block1 {
	margin: 10px;
	width: 50%;
	height: 478px;
	display: block;
	background-color: black;
}
.protect-block2 {
	margin: 10px;
	width: 50%;
	height: 478px;
	display: block;
	background-color: black;
}
.protect-block-logo1 {
	width: 100%;
	height: 100px;
	background-size: 15%;
	background-repeat: no-repeat;
	background-image: url(../img/icon_face.jpg);
	background-position: left;
	margin-left: 10%;
	margin-top: 10%;
}
.protect-block-opis1 {
	color: white;
	font-size: 22px;
	text-align: center;
	margin-left: 10%;
	margin-right: 15%;
	margin-bottom: 20%;
}
.protect-block-logo2 {
	width: 100%;
	height: 100px;
	background-size: 15%;
	background-image: url(../img/icon_protect.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: left;
	margin-left: 10%;
	margin-top: 10%;
}
.protect-block-opis2 {
	color: white;
	font-size: 16px;
	text-align: center;
	margin-left: 10%;
	margin-right: 15%;
	margin-bottom: 20%;
}
.protect-block-opis1 p, .protect-block-opis2 p {
	text-align: left;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}
.podrob-opis-image {
	height: 597px;
	width: 597px;
}
.podrob-opis {
	width: 1000px;
	height: 100%;
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.podrob-opis p {
	padding-left: 10%;
	padding-right: 10%;
}
#podrob-opis-cam p {
	padding-left: 20px;
	padding-right: 200px;
}
.podrob-opis-zag {
	width: 100%;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}
.podrob-opis-zag:first-letter {
	font-size: 150%;
}
.podrob-opis-zag p {
	color: white;
	padding: 5px;
}
#podrob-opis-zag-cam p {
	padding-right: 200px;
}
#podrob-opis-back {
	background-position: top;
	background-repeat: no-repeat;
	background-size: 200%;
}
.podrob-opis-zag-small {
	font-size: 14px;
	color: #484343;
	text-transform: lowercase;
}
/*.podrob-opis-zag:nth-child(2n) p {
	color: #484343;
}*/
#podrob-opis-back2 {
	background-size: 100%;
}
.podrob-opis-zag2 {
	color: black;
	font-size: 30px;
	font-weight: 700;
}
.podrob-opis-zag-small2 {
	font-size: 14px;
	color: black;
}
.protect {
	align-items: center;
	background-color: black;
	width: 500px;
	height: 500px;
	color: white;
	text-align: center;
}
#prodisp {
	background-position: top;
}
#camera {
	background-color: black;
	background-size: 20%;
	background-position: right;
	background-repeat: no-repeat;
}