body {
	background-color: #f8f8f8;
	align-items: center;
	margin: 0;
	font-family: Arial;
}
a {
	text-decoration: none;
	color: black;
}
.shapka {
	width: 333px;
	background-color: #2d2d2d;
}
.whitessilki {
	color: white;
	font-size: 20px;
	font-weight: 500;
}
table {
	width: 1000px;
	border-spacing: 0;
	/*border: 1px solid red;*/
}
td, th {
	margin: 0;
	padding: 0;
}
#inlogo {
	background-color: #c0c0c0;
}
ul {
	list-style-image: url(../img/iconul.png);
	list-styl
}
li {
	list-style-type: none;
}
.zagolovki {
	color:black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}
.namemail {
	height: 30px;
	width: 250px;
	font-size: 15px;
	font-weight: 400;
	background-color: grey;
	text-decoration-color: red;
}
.buttonkon {
	height: 30px;
	width: 80px;
}
.opis {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.applelogo {
	width: 100%;
	height: 85px;
}
.podrob-opis-image {
	height: 597px;
	width: 597px;
}
/*ZADANIE*/
.podrob-opis {
	width: 1000px;
	height: 100;
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	background-color: black;
}
.podrob-opis-zag {
	font-size: 30px;
	font-weight: 700;
}
#podrob-opis-back {
	background-position: top;
	background-repeat: no-repeat;
	background-size: 200%;
}
.podrob-opis-zag-small {
	font-size: 14px;
	color: #484343;
}
#podrob-opis-back2 {
	background-size: 100%;
}
.podrob-opis-zag2 {
	color: black;
	font-size: 30px;
	font-weight: 700;
}
.podrob-opis-zag-small2 {
	font-size: 14px;
	color: black;
}
.protect {
	align-items: center;
	background-color: black;
	width: 500px;
	height: 500px;
	color: white;
	text-align: center;
}
#prodisp {
	background-position: top;
}
#camera {
	background-color: black;
	background-size: 20%;
	background-position: right;
	background-repeat: no-repeat;
}
.tochki {
	font-size: 10px;
	color: grey;
}
.nechetline {
	background-color: #f3f3f3;
}
.tovxar {
	font-size: 18px;
	font-weight: 450;
	font-family: SF Pro Text, Arial;
}
.zagxar {
	font-size: 22px;
	font-weight: 600;
}
#textarena {
	height: 200px;
	width: 506px;
	resize: none;
	font-size: 19px;
	font-weight: 400;
}